{% extends 'layouts/base.html' %}


{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-database text-primary"></i>
        <h2>All blogs</h2>
        <p class="text-muted">Show all blog in a list format</p>
        <p>
          <a href="{{ url_for('page.blogs') }}" class="btn btn-default" >Show blogs</a>
        </p>
      </div>

    </div>
  </div>
{% endblock %}
